
* {
  box-sizing: border-box;
}
body {
  font-family: "Yanone", sans-serif;
}
i.fa {
  font-size: 30px;
  margin-right: 10px;
}
@keyframes slide {
  0% {
    background-position: 0% 0%;
  }  
  50% {
    background-position: 100% 0%;
  }  
  100% {
    background-position: 0% 0%;
  }  
}
.main {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: repeat-x;
  animation: slide 90s linear infinite;
}
.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
/* firstScreen */
.app__header {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: solid 5px #bebb8b;
  min-height: 247px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
}
.app__logo {
  padding: 20px 0;
  display: block;
  width: 150px;
  margin: 0 auto;
}
.app__body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  overflow: auto;
}
.app__body h1 {  
  max-width: 400px;
  color: #24d633;
  padding-top: 10px;
  text-transform: uppercase;
  font-size: 19px;
  line-height: 25px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
  text-shadow: 0px 3px 5px #000000;
}
.app__btn {
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  min-height: 43px;
  width: 188px;
  background-color: #218329;
  box-shadow: 0px 7px 0px 0px #264d29;
  margin: 0 auto;
  border-radius: 9px;
  text-decoration: none;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 1.7px;
  color: #fff;
  text-transform: uppercase;
}
.app__btn p {
  color: #074717;
  opacity: 50%;
}
.app__btn:focus {
  outline: none;
}
.app__btn img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  opacity: 55%;
}
.app__btn-text {
  opacity: 60%;
  font-weight: 500;
}

/* archivments */

.achivments .app__body {
  justify-content: flex-start;
}
.app__body-inner {
  width: 100%;
  min-width: 375px;
  margin: 0 auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.app__body-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 20px;
  padding-top: 20px;
}
.app__body-top {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: max-content max-content;
  place-content: center center;
  margin-bottom: 20px;  
  border: solid 5px rgba(1, 88, 154, 0.5);
}
.app__card {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 10px;
  text-align: center;
  border: none;
}
.app__card-text {
  font-size: 22px;
  margin-bottom: 10px;
}
.app__card-count {
  font-size: 18px;
}
.app__body-middle {
  margin-bottom: 15px;
}
.app__result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border: solid 5px rgba(1, 88, 154, 0.5);
  background-color: rgba(25, 121, 211, 0.8);
}
.app__result:last-child {
  margin-bottom: 0;
}
.app__result-name {
  font-size: 18px;
  margin-left: auto;
  margin-right: 20px;
}
.app__result-amount {
  font-size: 18px;
}
.app__body-bottom {
}
.app__btn {
}
.btn__back {
  width: 75px;
  height: 75px;
  box-shadow: none;
  border: solid 5px #074717;
  border-radius: 15%;
  padding: auto;
  margin-bottom: 50px;
}
.btn__back img {
  margin-right: 0;
  width: 50px;
  height: 50px;
  opacity: 0.4;
}
.btn__achivment {
  border: solid 5px rgba(1, 88, 154, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
}

/* question */

.app__header-inner {
  color: #fff;
  text-align: center;

}
.app__count {
  font-size: 24px;
  margin-bottom: 10px;
}
.app__text {
  font-size: 18px;
}

/* results */

.app {
}
.results {
}
.app__body {
}
.app__results-inner{
  color: #fff;
  padding: 20px 40px;
}
.results__title {
  color: #24d633;
  padding-top: 10px;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 0px 3px 5px #000000; 
}
.results__img {
  text-align: center;
  margin-bottom: 0;
}
.results__img img {
  width: 250px;
}
.results__text-box {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 40px;
  text-shadow: 0px 2px 4px #000000; 
}
.results__text-box h2 {
  text-align: center;
  font-size: 16px;
  text-shadow: 0px 3px 5px #000000; 
  text-transform: uppercase;
  font-weight: 600;
}
.result__text {
  margin-bottom: 20px;
}
.app.results {
  animation: none;
  background-size: cover;
  background-position: center center;
}
.app.results[data-race="high"] {
  background-color: rgba(23, 63, 34, 0.7);
}
.app.results[data-race="medium"] {
  background-color: rgba(23, 30, 63, 0.7);
}
.app.results[data-race="low"] {
  background-color: rgba(51, 19, 21, 0.7);
}

.btn__high {
  background-color: #218329;
  border: solid 5px #074717;
}
.btn__medium{
  background-color: #213383;
  border: solid 5px #0d0747;
}
.btn__low {
  background-color: #832121;
  border: solid 5px #470e07;
}
